body{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.name-color{
    color: yellowgreen;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 3% ;
}
.half-width img{
    width: 100%;
}