body{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.green-highlight{
    color: limegreen;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    margin-top: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, green,limegreen);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.website{
    text-decoration: none;
    color: black;
}
p{
    color: gray;
}
#icon{
    width: 14px;
    filter: invert(100);
    vertical-align: middle;
}
#textalign{
    text-align: center;
    padding-top: 5%;
    font-weight: 700;
    
}
.latest-work{
    background-color: rgba(222, 236, 236, 0.788);
}
.one-third-width{
    width: 25%;
    float: left;
    margin-left: 5%;
    text-align: center;
    margin-top: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color: rgb(203, 221, 203);

}
img{
    width: 100%;
    border-radius: 10px;
}